.log-display {
  border: 0.5em solid #fca311;
  width: 100%;
  height: 20%;
  background-color: #e5e5e5;
  display: flex;
}

.logs {
  width: 100%;
  padding: 0 1em 0 0.8em;
  background-color: #e5e5e5;
  overflow-y: scroll;
  border: 0.13em solid #14213d;
}
