.welcome-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80%;
}

.welcome-page-title {
  font-size: 50px;
  font-weight: 700;
  padding: 20px;
  color: white;
  text-shadow: 4px 4px #e8175d;
}

/* .welcome-page-banner-container {
  position: relative;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} */

/* .banner-loading-bar {
  position: absolute;
} */

.click-here-label {
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  color: white;
  visibility: hidden;
}

.click-here-label.show {
  visibility: visible;
}

.click-here-label.show:hover {
  color: rgb(232, 23, 93);
}

.nav-admin-page {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  top: 0;
  visibility: hidden;
}

.nav-admin-page.show {
  visibility: visible;
}

.nav-admin-page.show:hover {
  color: rgb(232, 23, 93, 0.5);
}

@media (max-width: 630px) {
  .welcome-page-banner {
    width: 100%;
  }
}

body {
  min-height: 100%;
  margin: 0;
  box-shadow: inset 0 0 0 1000px rgba(52, 35, 45, 0.5);
  background-image: url("https://media4.giphy.com/media/bZBmitwUwKtDa/giphy.gif?cid=ecf05e472a9slebt6at3p403rm8ruhowh34lev5f3esl6e3g&rid=giphy.gif&ct=g");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
